services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: zork:latest
    container_name: zork-bot
    env_file:
      - .env
    restart: always
    environment:
      - NODE_ENV=production
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
